<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <title>Preguntados</title>
    <link rel="icon" type="image/png" href="/public/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            sora: ['Sora', 'sans-serif'],
                                },
                    }
                }
            }
    </script>

    </script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <style>
    #map {
      height: 250px;
      border-radius: 0.5rem;
      border: 1px solid #4b5563;
      margin-top: 0.5rem;
      z-index: 0;
    }

    .leaflet-container {
      background: #2c2f56 !important;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none; margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield; appearance: textfield;
    }
    </style>
</head>
